@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ECE8E5;
}

.container {
    flex-direction: row ;
    justify-content: center;
    width: 100%;
    gap:10px;
    display: flex;
    position: relative;

}

.button{
    border-radius: 10px;
    border: solid 1px 'office-gray-500';
    color: 'office-gray-500';
    margin: 2px;
    padding: 5px;
}

.wizard-container{
    position: relative;
    margin: auto;
    border-radius: 20px;
    background: white;
    padding: 25px;
    max-width: 700px;
    min-width: 700px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.25);
}

.padding-above{
    padding-top: 10px;
}

.padding-above-below{
    padding-top: 10px;
    padding-bottom: 10px;
}
