@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ECE8E5;
}

.container{
    flex-direction: row ;
    justify-content: center;
    width: 100%;
    gap:10px;
    display: flex;

}

.button{
    border-radius: 10px;
    border: solid 1px 'o-gray';
    color: 'o-gray';
    margin: 2px;
    padding: 5px;
}

.wizard-container{
    position:relative;
    margin: auto;
    border-radius: 20px;
    background: white;
    padding: 25px;
    max-width: 700px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
}

